# Maintainer: uso <uso.cosmo.ray at gmail dot com>

pkgname=asraf-git
pkgdesc="ASRAF is a karaoke manager using mplayer or vlc"
pkgrel=1
pkgver=0.r138.3ffeca4
arch=('i686' 'x86_64')
url=('https://bitbucket.org/cosmo_ray/asraf')
depends=('qt5-base' 'ffmpeg')
license=('unknown')
makedepends=('git')
_gitroot=https://bitbucket.org/cosmo_ray/asraf.git
_gitname=asraf-git

pkgver() {
  cd ${srcdir}/${pkgname}
  printf "0.r%s.%s" "$(git rev-list --count HEAD)" "$(git rev-parse --short HEAD)"
}

optdepends=(
    'vlc: vlc player'
    'mplayer: mplayer ... player'
)

build() {
    cd ${srcdir}

    if [[ -d "$_gitname" ]]; then
	cd "$_gitname" && git pull origin
	msg "The local files are updated."
    else
	git clone "$_gitroot" "$_gitname"
    fi

    msg "GIT checkout done or server timeout"
    msg "Starting build..."

    rm -rf "$srcdir/$_gitname-build"
    git clone "$srcdir/$_gitname" "$srcdir/$_gitname-build"
    cd "$srcdir/$_gitname-build"

    qmake-qt5
    make
}

package() {
  cd "$srcdir/$_gitname-build"
  make INSTALL_ROOT="${pkgdir}" install
}

